<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 minutes" debug="false">

	<contextName>spider-operator</contextName>

	<property name="log.project.name" value="spider-operator" />
	<property name="log.base.path" value="/opt/logs/spider-operator" />
	<property name="log.file.charset" value="UTF-8" />
	<property name="log.out.charset" value="UTF-8" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} %L - %msg%n</pattern>
			<charset>${log.out.charset}</charset>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base.path}/crawl.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	      <level>INFO</level>
	    </filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base.path}/crawl.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
			<charset>${log.file.charset}</charset>
		</encoder>
	</appender>
	
	
	<logger name="org.mongodb.driver.cluster" level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="console" /> 
		<appender-ref ref="file" />
	</root>
	
</configuration>
